# MkDocs
/site/
*.lock
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.bak
*.tmp
*.log
*.orig
*.DS_Store
.env
.venv
venv/
ENV/
env/
.idea/
.vscode/
.mypy_cache/
.pytest_cache/
.tox/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.cache/
dist/
build/
*.egg-info/